* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

.main ul {
    display: flex;
    justify-content: space-between;
}

.main {
    background-color: black;
    color: #fff;
    height: 60px;
    margin-bottom: 40px;
}

.main ul li {
    display: inline-block;
    padding-top: 25px;
    font-size: 13px;
}

.main .langmoney button {
    background: #000;
    color: #fff;
    border: none;
}

.main .langmoney li+li {
    margin-left: 40px;
}

.main .langmoney ul {
    position: relative;
}

.main .langmoney ul:first-child::before {
    content: "";
    background-image: url(../images/Flag.png);
    position: absolute;
    width: 12px;
    height: 7px;
    bottom: 5px;
    left: -22px;
}

.main .botnavbar ul {
    width: 810px;
    position: relative;
}

.main .btn-input {
    padding-top: 10px;
}

.main .botnavbar input {
    height: 40px;
    border: none;
    padding: 0 15px;
    width: 220px;
}

.main .botnavbar img {
    width: 20px;
    height: 20px;
    background-color: #d2985e;
}

.main .botnavbar button {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    background-color: #d2985e;
}

.main .botnavbar .cart-icon {
    display: flex;
    border: none;
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 0;
}

.main .botnavbar .cart-icon a {
    background-color: #d2985e;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    line-height: 50px;
}

.main .botnavbar ul div {
    font-size: 13px;
    padding: 15px 20px;
    display: inline-block;
    background-color: #fff;
    color: #000;
    height: 40px;
    margin-left: 0;
}

.menu {
    margin-bottom: 40px;
}

.menu .container a {
    color: #000;
    font-size: 13px;
}

.menu .container ul {
    width: 945px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu .container ul li {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.menu .container img {
    width: 120px;
    height: 40px;
}

.menu ul li.active a {
    color: #e8603c;
}

.header {
    background-color: #f9f9f9;
}

.header .container {
    width: 945px;
    gap: 55px;
}

.header .container h1 {
    text-transform: uppercase;
    font-size: 50px;
    color: #d3995f;
    padding-top: 70px;
    padding-bottom: 45px;
    margin: 0;
}

.header .container p {
    font-family: 'Lora', serif;
    font-size: 15px;
    color: #686868;
    line-height: 30px;
    padding-bottom: 35px;
}

.header .container button {
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    color: #2a2a2a;
    border-color: #d3995f;
    /* border: 1px solid #d3995f; */
    background-color: #f9f9f9
}

.header .container img {
    width: 350px;
    height: 450px;
}

.popularnow .container {
    display: block;
    margin-top: 60px;
}

.popularnow .container h3 {
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    color: #d3995f;
    padding-bottom: 40px;
}

.popularnow .container ul {
    width: 380px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 85px;
}

.popularnow .container ul li {
    display: inline-block;
}

.popularnow .container a {
    color: #2a2a2a;
    font-size: 15px;
}

.popularnow ul li.active a {
    color: #e8603c;
}

.popularnow .container .item {
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
}

.popularnow .container .item img {
    width: 270px;
    height: 320px;
    padding-bottom: 20px;
}

.popularnow .container .item p {
    text-align: center;
}

.popularnow .container .item div>p:first-child {
    color: #2a2a2a;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.popularnow .container .item div p+p {
    color: #d3995f;
    font-size: 15px;
    text-transform: uppercase;
}

.Collection {
    background-color: #f9f9f9;
}

.Collection .container {
    display: block;
    padding-top: 60px;
    padding-bottom: 70px;
}

.Collection .container>div:first-child {
    margin: 0 auto;
    text-align: center;
    width: 570px;
    padding-bottom: 65px;
}

.Collection .container h3 {
    font-size: 30px;
    color: #d3995f;
    text-transform: capitalize;
    padding-bottom: 45px;
}

.Collection .container div h3~p {
    font-family: 'Lora', serif;
    font-size: 15px;
    color: #686868;
    line-height: 30px;
    padding-bottom: 40px;
}

.Collection .container button {
    width: 170px;
    height: 50px;
    font-size: 15px;
    color: #2a2a2a;
    border-color: #d3995f;
    /* border: 1px solid #d3995f; */
    background-color: #f9f9f9;
}

.Collection .collitem {
    display: flex;
    gap: 30px;
}

.Collection .container .collitem img {
    width: 270px;
    height: 200px;
    padding-bottom: 25px;
}

.Collection .collitem div>div{
    display: flex;
    justify-content: space-between;
}

.Collection .collitem div>p:first-child {
    color: #2a2a2a;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.Collection .collitem div p+p {
    color: #d3995f;
    font-size: 15px;
    text-transform: uppercase;