* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

.main ul {
    display: flex;
    justify-content: space-between;
}

.main {
    background-color: black;
    color: #fff;
    height: 60px;
    margin-bottom: 40px;
}

.main ul li {
    display: inline-block;
    padding-top: 25px;
    font-size: 13px;
}

.main .langmoney a {
    background: #000;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

.main .langmoney ul li:first-child {
    padding-left: 25px;
}

.main .langmoney li+li {
    margin-left: 40px;
}

.main .langmoney ul {
    position: relative;
}

.main .langmoney ul:first-child::before {
    content: "";
    background-image: url(../images/Flag.png);
    position: absolute;
    width: 12px;
    height: 7px;
    bottom: 5px;
    left: 0px;
}

.main .botnavbar {
    width: 850px;
    display: flex;
    justify-content: space-between;
}

.main .botnavbar>div {
    display: flex;
}

.main .botnavbar ul {
    gap: 40px;
    justify-content: flex-end;
    position: relative;
}

.main .btn-input {
    padding-top: 10px;
}

.main .botnavbar input {
    position: relative;
    top: -2px;
    right: -5px;
    height: 40px;
    border: none;
    padding: 0 15px;
    width: 220px;
}

.main .botnavbar img {
    width: 20px;
    height: 20px;
    background-color: #d2985e;
}

.main .botnavbar button {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    border: none;
    background-color: #d2985e;
}

.main .botnavbar .cart-icon {
    display: flex;
    border: none;
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 0;
}

.main .botnavbar .cart-icon a {
    background-color: #d2985e;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    line-height: 50px;
}

.main .botnavbar .cart-icon div {
    font-size: 13px;
    padding: 15px 20px;
    display: inline-block;
    background-color: #fff;
    color: #000;
    height: 40px;
    margin-left: 0;
}

.menu {
    margin-bottom: 40px;
}

.menu .container a {
    color: #000;
    font-size: 13px;
}

.menu .container ul {
    width: 945px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu .container ul li {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.menu .container img {
    width: 120px;
    height: 40px;
}

.menu ul li.active a {
    color: #e8603c;
}

.header {
    background-color: #f9f9f9;
}

.header .container {
    width: 945px;
    gap: 55px;
}

.header .container h1 {
    text-transform: uppercase;
    font-size: 50px;
    color: #d3995f;
    padding-top: 70px;
    padding-bottom: 45px;
    margin: 0;
}

.header .container p {
    font-family: 'Lora', serif;
    font-size: 15px;
    color: #686868;
    line-height: 30px;
    padding-bottom: 35px;
}

.header .container a {
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    color: #2a2a2a;
    border: 1px solid #d3995f;
    background-color: #f9f9f9;
    text-align: center;
    padding: 0;
    line-height: 50px
}

.header .container img {
    width: 350px;
    height: 450px;
}

.popularnow .container {
    display: block;
    margin-top: 60px;
}

.popularnow .container h3 {
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    color: #d3995f;
    padding-bottom: 40px;
}

.popularnow .container ul {
    width: 380px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 85px;
}

.popularnow .container ul li {
    display: inline-block;
}

.popularnow .container a {
    color: #2a2a2a;
    font-size: 15px;
}

.popularnow ul li.active a {
    color: #e8603c;
}

.popularnow .container .item ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 70px;
    margin-left: 0;
}

.popularnow .container .item img {
    width: 270px;
    height: 320px;
    padding-bottom: 20px;
}

.popularnow .container .item p {
    text-align: center;
}

.popularnow .container .item div>p:first-child {
    color: #2a2a2a;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.popularnow .container .item div p+p {
    color: #d3995f;
    font-size: 15px;
    text-transform: uppercase;
}

.collection {
    background-color: #f9f9f9;
}

.collection .container {
    display: block;
    padding-top: 60px;
    padding-bottom: 70px;
}

.collection .container>div:first-child {
    margin: 0 auto;
    text-align: center;
    width: 570px;
    padding-bottom: 65px;
}

.collection .container h3 {
    font-size: 30px;
    color: #d3995f;
    text-transform: capitalize;
    padding-bottom: 45px;
}

.collection .container div h3~p {
    font-family: 'Lora', serif;
    font-size: 15px;
    color: #686868;
    line-height: 30px;
    padding-bottom: 40px;
}

.collection .container p~a {
    width: 170px;
    height: 50px;
    font-size: 15px;
    color: #2a2a2a;
    border: 1px solid #d3995f;
    background-color: #f9f9f9;
    line-height: 50px
}

.collection .collitem {
    display: flex;
}

.collection .collitem img {
    width: 270px;
    height: 200px;
    padding-bottom: 25px;
}

.collection .collitem ul li {
    display: inline-block;
}

.collection .collitem ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.collection .collitem div {
    display: flex;
    justify-content: space-between;
}

.collection .collitem div>p:first-child {
    color: #2a2a2a;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 15px;
    display: block;
}

.collection .collitem div p+p {
    color: #d3995f;
    font-size: 15px;
    text-transform: uppercase;
}

.sale {
    background-color: #000;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sale div {
    text-align: center;
}

.sale h3 {
    font-size: 30px;
    color: #d3995f;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.sale p {
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
}

.newsletter {
    background-color: #f9f9f9;
    height: 115px;
}

.newsletter .container {
    width: 970px;
    margin: 0 auto;
    padding-top: 35px;
}

.newsletter .container p {
    font-size: 20px;
    color: #2a2a2a;
    line-height: 42px;
}

.newsletter .container .flex {
    gap: 30px;
}

.newsletter .container .flex input {
    font-size: 15px;
    width: 470px;
    height: 42px;
    border: 1px solid #d2985e;
    background-color: #f9f9f9;
    padding-left: 25px;
}

.newsletter .container .flex input::placeholder {
    text-transform: capitalize;
}

.newsletter .container .flex button {
    width: 170px;
    height: 42px;
    font-size: 15px;
    background-color: #d2985e;
    border: none;
    color: #fff;
}

.from-collection .container {
    display: block;
}

.from-collection a {
    color: #2a2a2a;
}

.from-collection .title h3 {
    font-size: 30px;
    text-transform: capitalize;
    color: #d3995f;
    padding-top: 56px;
}

.from-collection .title p {
    font-size: 15px;
    color: #686868;
    font-family: 'Lora', serif;
    line-height: 30px;
    padding-top: 30px;
}

.from-collection .title.flex ul {
    gap: 5px;
    margin-top: 120px;
}

.from-collection nav li {
    display: inline-block;
    width: 100px;
    height: 50px;
    border: 1px solid #d2985e;
    line-height: 50px;
    text-align: center;
}

.from-collection .title.flex a {
    font-size: 15px;
    color: #2a2a2a;
}

.from-collection .title.flex {
    padding-bottom: 65px;
    gap: 290px;
}

.from-collection .collection-items ul{
    flex-wrap: wrap;
}

.from-collection .collection-items li {
    margin-bottom: 45px;
    display: block;
}

.from-collection .collection-items img {
    padding-bottom: 20px;
}

.from-collection .name {
    font-size: 15px;
    color: #2a2a2a;
    text-align: center;
    padding-bottom: 15px;
}

.from-collection .price {
    font-size: 15px;
    color: #d3995f;
    text-align: center;
}

.from-collection .link {
    text-align: center;
    padding-bottom: 65px;
}

.from-collection .link a {
    text-transform: capitalize;
    font-size: 15px;
    color: #2a2a2a;
    border: 1px solid #d2985e;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.about-us {
    background-color: #f9f9f9;
}

.about-us a {
    color: #2a2a2a;
}

.about-us .flex>div {
    flex: 1;
}

.about-us .panther {
    background: url("../images/panther.jpg") left top no-repeat;
    background-size: cover;
}

.about-us .info {
    width: 590px;
    padding: 60px 0 70px 116px;
}

.about-us .info h3 {
    color: #2a2a2a;
    font-size: 25px;
    text-transform: capitalize;
    padding-bottom: 40px;
}

.about-us .info img {
    padding-bottom: 40px;
}

.about-us .info p {
    font-size: 15px;
    color: #686868;
    font-family: 'Lora', serif;
    line-height: 30px;
    padding-bottom: 50px;
}

.about-us .info a {
    text-transform: capitalize;
    font-size: 15px;
    color: #2a2a2a;
    border: 1px solid #d2985e;
    width: 170px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

footer {
    background: #292929;
    padding-top: 65px;
    padding-bottom: 60px;
}

footer .container {
    gap: 30px;
}

footer p, a {
    color: #fff;
    font-size: 13px;
}

footer h4 {
    font-weight: 400;
    font-size: 15px;
    color: #fdfdfd;
    padding-top: 0;
}

footer .pell {
    font-size: 15px;
    line-height: 30px;
    font-family: 'Lora', serif;
    padding-bottom: 50px;
    padding-top: 30px;
}

footer .gab {
    padding-top: 15px;
}

footer .gab span {
    color: #d3995f;
}

footer ul li {
    display: block;
}

footer nav ul li {
    margin-top: 20px;
}

footer .contactus ul li {
    display: inline-block;
}

footer div .get {
    font-size: 13px;
    font-family: 'Lora', serif;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 40px;
    width: 340px;
}

footer div .graf {
    font-size: 15px;
    color: #fdfdfd;
    border: 1px solid #d2985e;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

footer .contactus ul {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    padding-top: 45px;
}

footer .container>div {
    flex: 2;
}

footer .container>nav {
    flex: 1;
}